<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lx.mapper.UserMapper">
    <select id="login" parameterType="User" resultType="int">
        select count(1) from user where phoneNumber = #{phoneNumber} and password = #{password}
    </select>

    <select id="validatePhoneNum" parameterType="string" resultType="int">
        select count(1) from user where phoneNumber = #{phoneNumber}
    </select>

    <insert id="register" parameterType="User">
        insert into user (id, phoneNumber, password, name, address) values(null, #{phoneNumber}, #{password}, #{name}, #{address})
    </insert>
</mapper>